<div class="w3-container w3-gray">
  <h2>{{subject}}</h2>
  <p>From:{{from}}</p>
  <p>{{file}}</p>
</div>

<button class="w3-button w3-ripple w3-black" onclick="navigateToTab('{{previous_tab}}');">Back</button>