<h2>Reporting</h2>

<div class="w3-container w3-light-gray">
    <h2>Catch report details</h2>
</div>

<form class="w3-container">
    <table class="w3-table-all w3-card-4" id="reportTable">
        <tr>
            <th>Species</th>
            <th>Unit</th>
            <th>Amount</th>
            <th>From</th>
            <th>To</th>
        </tr>

        {{#each preloaded}}
        <tr>
            <td>
                
                <select class="w3-select w3-border" name="species">
                        <option value="N/A">Select species</option>
                       {{#each specieslist}}
                         <option value="{{@key}}">{{this}}</option>
                       {{/each}}
                   </select>   
            </td>
            <td>{{unit}}</td>

            <td><input class="w3-input w3-border" type="text" name="amount" size="4" placeholder="Amount" value="{{amount}}"></td>
            <td><input class="w3-input w3-border" type="text" name="startDate" placeholder="Start" value="{{startDate}}"></td>
            <td><input class="w3-input w3-border" type="text" name="startDate" placeholder="Start" value="{{endDate}}"></td>
        </tr>
        {{/each}}

        <tr>
            <td>
                <select class="w3-select w3-border" name="species">
                     <option value="N/A">Select species</option>
                    {{#each specieslist}}
                      <option value="{{@key}}">{{this}}</option>
                    {{/each}}
                </select>
            </td>

            <td>
                <select class="w3-select w3-border" name="unit">
                    {{#each units}}
                        <option value="{{@key}}">{{this}}</option>                        
                    {{/each}}
                </select>
            </td>

            <td>
                <input class="w3-input w3-border" type="text" name="amount" size="4" placeholder="Amount">
            </td>

            <td>
                <input class="w3-input w3-border" type="text" name="startDate" placeholder="Start">
            </td>
            <td>
                <input class="w3-input w3-border" type="text" name="endDate" placeholder="End">                
            </td>

        </tr>

    </table>
    <div class="w3-third">
        <button type="button" class="w3-btn w3-blue-grey" id="formSubmitButton">Register</button>
        <button type="button" class="w3-btn w3-blue-grey" id="formAddButton">Add</button>
    </div>
    <div class="w3-third">
        <button type="button" class="w3-btn w3-blue-grey" id="formClearButton">Clear</button>
        <button type="button" class="w3-btn w3-blue-grey" id="formSaveButton">Save</button>
    </div>

</form>
