<table class="w3-table-all w3-hoverable">
<tr>
    <th>Date</th>
    <th>Time</th>
    <th>LES</th>
    <th>Message no.</th>
    <th>Size</th>
    <th>Status</th>
    <th>File</th>
</tr>

{{#each rxlog}}
<tr onClick="showMessage('{{file}}');">
<td>{{date}}</td>
<td>{{time}}</td>
<td>{{LES}}</td>
<td>{{messageNo}}</td>
<td>{{size}}</td>
<td>{{status}}</td>
<td>{{file}}</td>
<tr>
{{/each}}
</table>
