 <h2>Service information</h2>
<p>Device information</p>
<ul>
 <li>Terminal Type:{{deviceinfo.TerminalType}}</li>
 <li>ISN NUmber: {{deviceinfo.ISNNumber}}</li>
 <li>Mobile Type: {{deviceinfo.MobileType}}</li>
 <li>Mobile Number: {{deviceinfo.MobileNumber}}</li>
 <li>Serial Number: {{deviceinfo.SerialNumber}}</li>
</ul>

<p>Hardware status</p>
<ul>
    <li>Hardware Status: {{hardwarestatus.HARDWARE}}</li>
    <li>Software: {{hardwarestatus.SOFTWARE}}</li>
    <li>Bulletin Board error rate: {{hardwarestatus.BBErrorRate}}</li>
    <li>Current channel: {{hardwarestatus.CurrentChannel}}</li>

    <li>TDMChannelNumber: {{hardwarestatus.TDMChannelNumber}}</li>
    <li>TDMFrameNumber: {{hardwarestatus.TDMFrameNumber}}</li>
    <li>TDMOrigin: {{hardwarestatus.TDMOrigin}}</li>
    <li>TDMType: {{hardwarestatus.TDMType}}</li>
</ul>
