<div class="w3-container w3-gray">
  <h2>Send text message</h2>
</div>

<form class="w3-container w3-card-4" id="sendMessage">
<br>
<p>      
<label class="w3-text-grey">Subject</label>
<input class="w3-input w3-border" type="text" required name="subject">
</p>
<p>      
<label class="w3-text-grey">Message</label>
<textarea class="w3-input w3-border" style="resize:none" rows="10" cols="80" name="message"></textarea>
</p>
<br>
  <p><button type="button" class="w3-btn w3-padding w3-teal" style="width:120px" onclick="formSubmitHandler(event)">Send &nbsp; &#10095;</button></p>
</form>
</div>