<strong>TX log</strong>

<table>
<tr>
    <th>Date</th>
    <th>Time</th>
<th>LES</th>
<th>Destination</th>
<th>Fileref</th>
<th>Size</th>
<th>Status</th>
</tr>

{{#each txlog}}
<tr></tr>
<td>{{date}}</td>
<td>{{time}}</td>
<td>{{LES}}</td>
<td>{{destination}}</td>
<td>{{fileref}}</td>
<td>{{size}}</td>
<td>{{status}}</td>
<tr>
{{/each}}

</table>
